md-dialog
  md-dialog-content
    p Sign in with an OAuth provider
  div.md-actions
    div(ng-repeat="provider in providers track by provider.id")
      button.mongochem-oauth-button-google.md-button(ng-click="redirect(provider.url)") Sign in with {{provider.name}}
